BODY.duologBody {
	FONT-FAMILY: Arial; BACKGROUND-IMAGE: url(stripe.gif); BACKGROUND-REPEAT: repeat-y; COLOR: black; MARGIN-LEFT: 1.5cm; BACKGROUND-COLOR: white
}
BODY.duologBody A {
	TEXT-DECORATION: none
}
IFRAME.duologHeader {
	HEIGHT: 4.5cm; WIDTH: 100%
}
IFRAME.duologFooter {
	HEIGHT: 3cm; WIDTH: 100%
}
H1.duologProductTitle {
	COLOR: black; TEXT-ALIGN: center
}
H1.duologVersionTitle {
	COLOR: black; TEXT-ALIGN: center
}
H2.duologInstanceSummaryTitle {
	COLOR: black
}
H2.duologCellTitle {
	COLOR: black
}
H3.duologRegisterTitle {
	COLOR: black; BACKGROUND-COLOR: #99ff99
}
H3.duologRegisterSummaryTitle {
	FONT-SIZE: x-small; COLOR: black; FONT-STYLE: italic
}
.duologPortsTable {
	FONT-SIZE: x-small; BORDER-TOP: black 3px solid; BORDER-RIGHT: black 3px solid; WIDTH: 100%; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: black 3px solid; TEXT-ALIGN: left; BORDER-LEFT: black 3px solid
}
.duologPortsTableHeader {
	BORDER-TOP: black 3px solid; BORDER-RIGHT: black 3px solid; BORDER-BOTTOM: black 3px solid; FONT-WEIGHT: bold; BORDER-LEFT: black 3px solid; BACKGROUND-COLOR: #66ccff
}
.duologPortInterfaceHeader {
	FONT-WEIGHT: bold; TEXT-ALIGN: left; BACKGROUND-COLOR: #99ff99
}
TR.duologPortsTableHeader TH {
	BORDER-BOTTOM: #000000 3px solid
}
.duologPortsTable TD {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: black 1px solid; PADDING-RIGHT: 5px
}
.duologPortsTable TH {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: black 1px solid; PADDING-RIGHT: 5px
}
.duologPortsTable TH {
	FONT-WEIGHT: bold; TEXT-ALIGN: left
}
TABLE.duologInstanceSummaryTable {
	FONT-SIZE: x-small; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; WIDTH: 100%; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid
}
TABLE.duologInstanceSummaryTable TR.row {
	
}
TABLE.duologInstanceSummaryTable TR.rowHead {
	BACKGROUND-COLOR: #66ccff
}
TABLE.duologInstanceSummaryTable TD.cellTopCol1 {
	BORDER-TOP: black 2px solid; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 3px solid; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: black 2px solid; PADDING-RIGHT: 5px
}
TABLE.duologInstanceSummaryTable TD.cellTopCol2 {
	BORDER-TOP: black 2px solid; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 3px solid; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
TABLE.duologInstanceSummaryTable TD.cellTopCol3 {
	BORDER-TOP: black 2px solid; BORDER-RIGHT: black 2px solid; BORDER-BOTTOM: black 3px solid; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
TABLE.duologInstanceSummaryTable TD.cellTopCol4 {
	BORDER-TOP: black 2px solid; BORDER-RIGHT: medium none; BORDER-BOTTOM: black 3px solid; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologInstanceSummaryTable TD.cellCol1 {
	BORDER-TOP: medium none; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: black 2px solid; PADDING-RIGHT: 5px
}
TABLE.duologInstanceSummaryTable TD.cellCol2 {
	BORDER-TOP: medium none; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologInstanceSummaryTable TD.cellCol3 {
	BORDER-TOP: medium none; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologInstanceSummaryTable TD.cellCol4 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: black 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologRegisterSummaryTable {
	FONT-SIZE: x-small; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; WIDTH: 100%; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid
}
TABLE.duologRegisterSummaryTable TR.rowTop {
	BACKGROUND-COLOR: #66ccff
}
TABLE.duologRegisterSummaryTable TR.row {
	
}
TABLE.duologRegisterSummaryTable TD.cellTopCol1 {
	BORDER-TOP: black 2px solid; BORDER-RIGHT: black 1px solid; WIDTH: 20%; BORDER-BOTTOM: black 3px solid; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: black 2px solid; PADDING-RIGHT: 5px
}
TABLE.duologRegisterSummaryTable TD.cellTopCol2 {
	BORDER-TOP: black 2px solid; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 3px solid; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
TABLE.duologRegisterSummaryTable TD.cellTopCol3 {
	BORDER-TOP: black 2px solid; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 3px solid; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
TABLE.duologRegisterSummaryTable TD.cellTopCol4 {
	BORDER-TOP: black 2px solid; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 3px solid; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
TABLE.duologRegisterSummaryTable TD.cellTopCol5 {
	BORDER-TOP: black 2px solid; BORDER-RIGHT: medium none; BORDER-BOTTOM: black 3px solid; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologRegisterSummaryTable TD.cellCol1 {
	BORDER-TOP: medium none; BORDER-RIGHT: black 1px solid; WIDTH: 20%; BORDER-BOTTOM: black 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: black 2px solid; PADDING-RIGHT: 5px
}
TABLE.duologRegisterSummaryTable TD.cellCol2 {
	BORDER-TOP: medium none; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologRegisterSummaryTable TD.cellCol3 {
	BORDER-TOP: medium none; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologRegisterSummaryTable TD.cellCol4 {
	BORDER-TOP: medium none; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologRegisterSummaryTable TD.cellCol5 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: black 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologRegisterTable {
	FONT-SIZE: x-small; BORDER-TOP: black 1px solid; BORDER-RIGHT: medium none; WIDTH: 100%; BORDER-BOTTOM: black 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologRegisterTable TR.row {
	
}
TABLE.duologRegisterTable TD.cellCol1 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; WIDTH: 16%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologRegisterTable TD.cellCol2 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; WIDTH: 55%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologRegisterTable TD.cellCol3 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologRegisterTable TD.cellCol4 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable {
	FONT-SIZE: x-small; BORDER-TOP: black 1px solid; BORDER-RIGHT: medium none; WIDTH: 100%; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: medium none
}
TABLE.duologBitfieldTable TR.rowTop {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #99ff99
}
TABLE.duologBitfieldTable TD.cellTopCol1 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; WIDTH: 4%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable TD.cellTopCol2 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; WIDTH: 20%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable TD.cellTopCol3 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; WIDTH: 55%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable TD.cellTopCol4 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; WIDTH: 4%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable TD.cellTopCol5 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; WIDTH: 17%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable TR.rowBitfield {
	
}
TABLE.duologBitfieldTable TD.cellBitfieldCol1 {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: medium none; WIDTH: 4%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable TD.cellBitfieldCol1Grey {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: medium none; WIDTH: 4%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #999999
}
TABLE.duologBitfieldTable TD.cellBitfieldCol2 {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: medium none; WIDTH: 20%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable TD.cellBitfieldCol2Grey {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: medium none; WIDTH: 20%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #999999
}
TABLE.duologBitfieldTable TD.cellBitfieldCol3 {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: medium none; WIDTH: 55%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable TD.cellBitfieldCol3Grey {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: medium none; WIDTH: 55%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #999999
}
TABLE.duologBitfieldTable TD.cellBitfieldCol4 {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: medium none; WIDTH: 4%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable TD.cellBitfieldCol4Grey {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: medium none; WIDTH: 4%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #999999
}
TABLE.duologBitfieldTable TD.cellBitfieldCol5 {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: medium none; WIDTH: 17%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable TD.cellBitfieldCol5Grey {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: medium none; WIDTH: 17%; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #999999
}
TABLE.duologBitfieldTable TR.rowEnum {
	
}
TABLE.duologBitfieldTable TD.cellEnumCol1 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable TD.cellEnumCol2 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable TD.cellEnumCol3 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable TD.cellEnumCol4 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable TD.cellEnumCol5 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
TABLE.duologBitfieldTable TD.cellEnumCol6 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
